body {
    text-align: center;
}

.grid {
    background-color: grey;
    aspect-ratio: 1;
    width: 500px;
    padding: 10px;
}

.grid:hover {
    opacity: 0.8;
}

.node {
    aspect-ratio: 1;
    width: 10px;
    padding: 20px;
}

.defaultnode {
    background-color: whitesmoke;
}

.wallnode {
    background-color: black;
}

.foodnode {
    background-color: red;
}

.playernode {
    background-color: blue;
}

.btn {
    background-color: green;
    padding: 5px;
}

.btn:hover {
    cursor: pointer;
}